//////////////////////////////////////
///////////// Job
//////////////////////////////////////


section.job {
  margin: 50px;
  display: flex;
  flex-flow: row wrap;
  & > section {
    width: 50%;
  }
}
select:first-of-type {
  font-family: 'forum';
}
span.label {
  display: table;
  font-family: 'big-john';
  font-variant: small-caps;
  font-size: 1.2em;
  text-transform: lowercase;
}

button, textarea , input, select {
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.06);
  font-size: 1.3em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  font-family: 'forum';
  box-sizing: border-box;
  width: 100%;
  &:focus {
    border-color: #04486a;
    border: 1px solid #04486a;
  }
}

input[type="submit"] {
  background-color: #ddd;
  &:hover, &:focus {
    box-shadow: inset 0 1px 1px darken(#ddd, 10%);
    cursor: pointer;
    background-color: darken(#ddd, 5%);
  }
}

.form-element {
  flex: 1 45%;
  &:not(.tech) {
    padding-right: 1em;
  }

}

div.form-element, ul.form-element,
ul.form-element li, #dop-calendar {
  display: inline-block;
}
textarea, .long, .long input {
  flex: 2 100%;
}
.short input { width: 30%;}

form {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
form.new_appliance, form.new_customer {
  margin-right: 4em;
}

form.new_trip, form.new_address {
  margin-left: 4em;
}

ul.form-element.tech{
  font-size: 1.5em;
  margin-right: auto;
  margin-left: auto;
  align-self: center;
  padding-left: 1em;
}

input[type="checkbox"]{
  width: 20px;
}
input[type="checkbox"]:checked{
  color: #04486a;
  background-color: #04486a;
}

.gtimepicker-container {
  display: none;
  position: absolute;
  top: -215px;
  left: 195px;
  z-index: 99998 !important;
  border-radius: 4px;
  font-family: 'forum';
  background-color: #333;
  padding: 1em .5em;
  font-size: 1.5em;
  color: #ddd;
  min-height: 170px;
  min-width: 258px;
  box-shadow: -2px 2px 10px 0px #333;
  table {
    width: 100%;
    td {
      width: 30px;
      height: 34px;
    }
  }
}
.gtimepicker {

}
