@mixin custom-font($family, $filename, $weight) {
  font-family: $family;
  font-weight: $weight;
  src: font-url("#{$filename}.eot");
  src: font-url("#{$filename}.eot?#iefix") format('embedded-opentype'),
  font-url("#{$filename}.woff") format('woff'),
  font-url("#{$filename}.ttf") format('truetype'),
  font-url("#{$filename}.svg") format('svg');
}



// Fonts
@font-face { @include custom-font('big-john', 'big_john-webfont', 'normal'); }
@font-face { @include custom-font('slim-joe', 'slim_joe-webfont', 'normal'); }
@font-face { @include custom-font('forum', 'forum-webfont', 'normal'); }
