<div class="matching-term">
  <span class="label"><%= result["label"] %></span>
  <input name="customer_id" type="hidden" value="<%= result["customer_id"] %>"/>
  <input name="address_id" type="hidden" value="<%= result["address_id"] %>"/>
</div>
