//////////////////////////////////////
///////////// Job
//////////////////////////////////////

@include order-form();

section.job {
  margin-right: 50px;
  margin-left: 50px;

}

span.label {
  display: table;
  font-family: 'big-john';
  font-variant: small-caps;
  font-size: 1.5em;
  text-transform: lowercase;
}

span input {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.06);
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color;
  width: 10em;
}
