// Place all the styles related to the Site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-image: url('cream-dust.png')
}

.logo {
  padding: 1em;
}

a {
  text-decoration: none;
  color: #000;
  &:hover, &:focus {
    color: #04486a;
  }
}

ul.index, li {
  padding-left: .3em;
  list-style: none;
  font-family: "forum";
  font-size: 1.5em;
}
