<ul class="index">

  <li>
    <h1><%= link_to new_job_path do %>
      <i class="fa fa-plus"></i> New service request
    <% end %></h1>
  </li>
  <li>
    <h1><%= link_to jobs_path do %>
      <i class="fa fa-search"></i> Search
    <% end %></h1>
  </li>
  <li>
    <h1><%= link_to jobs_path do %>
      <i class="fa fa-eye"></i> View current jobs
    <% end %></h1>
  </li>
</ul>
